@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter Variable', sans-serif;
}

@layer base {
  :root {
    --amplify-colors-neutral-100: theme('colors.neutral.900');
    --amplify-colors-neutral-80: theme('colors.neutral.800');
    --amplify-colors-orange-60: theme('colors.orange.600');
    --amplify-colors-orange-80: theme('colors.orange.800');
    --amplify-colors-orange-100: theme('colors.orange.900');
    --amplify-components-button-primary-hover-background-color: theme(
      'colors.orange.900'
    );
  }
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px
    var(--amplify-colors-overlay-10);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium)
    var(--amplify-space-xl) var(--amplify-space-xl);
  --amplify-components-button-primary-background-color: var(
    --amplify-colors-neutral-100
  );
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px
    var(--amplify-colors-orange-60);
  --amplify-components-tabs-item-active-border-color: var(
    --amplify-colors-neutral-100
  );
  --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-orange-100);
  --amplify-components-button-link-color: var(--amplify-colors-orange-80);
}
